@model OnlineGasBooking.Models.DashBoardCounts

@{
    ViewBag.Title = "Dashboard";
    ViewBag.SubTitle = "Statistics Overview";
}
@section scripts {

}
<div class="Header text-center mt-1">
    <h1>Dashboard</h1>
</div>
<div class="container mt-4">
    <div class="row">
        <!-- Total New Connections -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total New Connections</h5>
                    <h3>@Model.NewConnectionCount</h3>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <!-- Total Onhold Connections -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Onhold Connections</h5>
                    <h3>@Model.NewConnectionCount</h3>
                    <a href="#" class="btn btn-warning">View Details</a>
                </div>
            </div>
        </div>

        <!-- Total Approved Connections -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Approved Connections</h5>
                    <h3>@Model.NewConnectionCount</h3>
                    <a href="#" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>       
    </div>

    <div class="row mt-4">
        <!-- Total Confirm Booking -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Confirm Booking</h5>
                    <h3>@Model.OrderCount</h3>
                    <a href="#" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>
        <!-- Total Staff -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Staff</h5>
                    <h3>@Model.CustomersCount</h3>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <!-- Total Registered Users -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Registered Users</h5>
                    <h3>@Model.CustomersCount</h3>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>



