
@{
    //ViewBag.Title = "ConnectionList";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="row">

    <div class="container">
        <center><h2 class="text-info">Gas Cylinder Booked History</h2></center>
        <hr />
        @*  <div class="d-flex justify-content-end mb-2">
        <a href="@Url.Action("Create", "Supplier")" class="btn btn btn-outline-primary"><i class="fa-regular fa-square-plus fs-1"></i></a>
        </div> *@
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered table-striped table">
                <thead>
                    <tr>
                        <th>OrderID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Payment Status</th>
                        <th>Delivery Status</th>
                        <th>Order Date</th>
                        <th>Shipping Date</th>
                        <th>Shipped</th>
                        <th>Address</th>
                        <th>Notes </th>
                    </tr>
                </thead>
               
                <tbody>
                    @foreach (var item in @ViewBag.BookHistory)
                    {
                        <tr>
                            <td>@item.OrderID</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.Mobile</td>
                            <td>@item.PaymentStatus</td>
                            @* td>@item.isCompleted</td> *@
                            <td>@(item.isCompleted != null ? (item.isCompleted == false ? "Pending" : "Successful ") : "Pending")</td>
                            <td>@item.OrderDate</td>
                            <td>@item.ShippingDate</td>
                            <td>@item.Shipped</td>
                            <td>@item.Address</td>
                            <td>@item.Notes </td>
                            @* <td>@(item.status != null ? (item.status == "N" ? "Pending" : "Approved ") : "Unknown")</td> *@
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

