@model IEnumerable<OnlineGasBooking.Models.Order>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="container">
        <h2 class="text-info">New Order List</h2>
        <hr />       
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered table-striped table">
                <thead>
                    <tr>
                        <th>OrderID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Payment Status</th>
                        <th>Order Status</th>
                        <th>Order Date</th>
                        <th>Shipping Date</th>
                        <th>Shipped</th>
                        <th>Address</th>
                        <th>Notes </th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in @ViewBag.BookHistory)
                    {
                        <tr>
                            <td>@item.OrderID</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.Mobile</td>
                            <td>@item.PaymentStatus</td>
                            <td>@item.isCompleted</td>
                            <td>@item.OrderDate</td>
                            <td>@item.ShippingDate</td>
                            <td>@item.Shipped</td>
                            <td>@item.Address</td>
                            <td>@item.Notes </td>
                            @* <td>@(item.status != null ? (item.status == "N" ? "Pending" : "Approved ") : "Unknown")</td> *@
                            <td>
                                @Html.ActionLink("View Details", "Details", new { id = item.OrderID }, new { @class = "btn btn-info" })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




