@model OnlineGasBooking.Models.SubCategory
@{
    ViewBag.Title = "Add New SubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <h2 class="text-info">Add New SubCategory</h2>
        <hr />
        <div class="col-md-12">
            <form id="subCategoryForm" method="post">
                @Html.AntiForgeryToken()
                <div class="row mb-2">
                    <div id="msg">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Name, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(x => x.CategoryID, new { @class = "form-label fs-4" })
                        @Html.DropDownListFor(x => x.CategoryID, ViewBag.categoryList as SelectList, "***Select Category***", new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6" style="padding-top:50px;">
                        <button type="submit" class="btn btn-success btn-lg col-12">
                            <i class="fa-regular fa-floppy-disk fs-4"></i> Save
                        </button>
                    </div>
                </div>
            </form>

            <div class="col-md-12 d-flex justify-content-lg-start mt-3">
                <a href="@Url.Action("Index", "Dashboard")" class="btn btn-danger btn-sm fs-4">
                    <i class="fa-regular fa-hand-back-point-left"></i> Back to the list
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#subCategoryForm").on("submit", function (event) {
                event.preventDefault(); // Prevent default form submission

                $.ajax({
                    type: "POST",
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    success: function (response) {
                        // Handle success
                        $("#msg").html('<div class="alert alert-success">Form submitted successfully!</div>');
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        $("#msg").html('<div class="alert alert-danger">An error occurred while submitting the form.</div>');
                    }
                });
            });
        });

        function clearAll() {
            $("#subCategoryForm")[0].reset();
        }
    </script>
}
